<div class="row">
  <div class="columns">
    <form (ngSubmit)="onSave()" #f="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title"
               [(ngModel)]="createBookData.title"
               type="text"
               class="form-control"
               id="title"
               placeholder="Type title..."
               required
               minlength="2">
      </div>
      <div class="form-group">
        <label for="authorsToSelect">Authors</label>
        <br>
        <!--<input [(ngModel)]="createBookData.authorId" name="authors" type="text" class="form-control" id="authors" placeholder="Select authors..." required minlength="2">-->
        <select id="authorsToSelect" [(ngModel)]="idToAdd"  name="author">
          <option *ngFor="let author of authorList" [value]="author.id">{{author.name}} {{author.surname}}</option>
        </select>
        <button type="button" class="btn-primary small" (click)="addAuthorToList()">Add</button>

        <div *ngFor="let author of selectedAuthorList">
          <div>{{author.name}} {{author.surname}}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="(!f.valid)">Submit</button>
    </form>
  </div>
</div>
